<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43375194001-p4fn510g8es34mq89hnduvf40ggqcunl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43375194001-p4fn510g8es34mq89hnduvf40ggqcunl</string>
	<key>API_KEY</key>
	<string>AIzaSyBWWvKPeRwDd5vIZ_4H1uUuiIeFqz9uMbE</string>
	<key>GCM_SENDER_ID</key>
	<string>43375194001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.com.Kennedy.SportsFinder</string>
	<key>PROJECT_ID</key>
	<string>sportsfinder-ce622</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsfinder-ce622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43375194001:ios:214f540d4b2868dcd43430</string>
</dict>
</plist>